#titre_cv {
	color: #666666;
	} 
#contact {
	color: #999999;
	} 
.titre_bloc {
	color: #333333;
	}
.titre_bloc {
	margin-left: 400px;
	}
.bloc {
	color: #666666;
	}
.bloc {
	margin-left: 400px;
	}
.bloc2 {
	margin-left: 500px;
	}

